body
{
}

h2, h3
{
    text-align: center;
}

#MaestroLogoIMG
{
    width: 100%;
}


div.ui-navbar ul li .ui-icon-camera-white
{
    background: url("../themes/images/icons-png/camera-white.png") center 10px no-repeat;
}

#ProjectsPage a.ui-icon-power-white
{
    background: url("../themes/images/icons-png/power-white.png") center 5px no-repeat;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2)
{
    .ui-icon-camera-white
    {
        background: url("../themes/images/icons-png/camera-white.png") center 0 no-repeat;
        background-size: 18px 18px;
    }

    #ProjectsPage a.ui-icon-power-white
    {
        background: url("../themes/images/icons-png/power-white.png") center 5px no-repeat;
        background-size: 18px 18px;
    }
}

.half
{
    width: 65%;
    margin-right: auto;
    margin-left: auto;
}

#NewServiceCall .ui-br
{
    border-style: hidden;
}

#map-canvas
{
    width: 360px;
    height: 440px;
    margin: 0 auto;
}

#MapLegend img
{
    height: 200px;
}

#ServiceCallsMap .ui-content
{
    padding: 0;
}

.CloseServiceCallsPopup
{
    width: 270px;
}
