<configuration>
  <appSettings/>
  <connectionStrings>
    <add name="igroup9_test1ConnectionString"
      connectionString="Data Source=Media.ruppin.ac.il;&#xD;&#xA;      Initial Catalog=igroup9_test1;User ID=igroup9;&#xD;&#xA;      Password=igroup9_86098"
                          providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <location path="Default.aspx">
    <system.web>
      <authorization>
        <allow roles="Admin, InstallationsManager, SalesManager, TechnicalManager" />
        <deny roles="Worker" />
      </authorization>
    </system.web>
  </location>

  <location path="NewCustomer.aspx">
    <system.web>
      <authorization>
        <allow roles="Admin, SalesManager, TechnicalManager" />
        <deny roles="Worker" />
      </authorization>
    </system.web>
  </location>

  <location path="Customers.aspx">
    <system.web>
      <authorization>
        <allow roles="Admin, InstallationsManager, SalesManager, TechnicalManager" />
        <deny roles="Worker" />
      </authorization>
    </system.web>
  </location>

  <location path="NewProject.aspx">
    <system.web>
      <authorization>
        <allow roles="Admin, SalesManager, TechnicalManager" />
        <deny roles="Worker" />
      </authorization>
    </system.web>
  </location>

  <location path="Projects.aspx">
    <system.web>
      <authorization>
        <allow roles="Admin, InstallationsManager, SalesManager, TechnicalManager" />
        <deny roles="Worker" />
      </authorization>
    </system.web>
  </location>

  <location path="NewServiceCall.aspx">
    <system.web>
      <authorization>
        <allow roles="Admin, InstallationsManager, SalesManager, TechnicalManager" />
        <deny roles="Worker" />
      </authorization>
    </system.web>
  </location>

  <location path="ServiceCalls.aspx">
    <system.web>
      <authorization>
        <allow roles="Admin, InstallationsManager, SalesManager, TechnicalManager" />
        <deny roles="Worker" />
      </authorization>
    </system.web>
  </location>

  <location path="UserManagement.aspx">
    <system.web>
      <authorization>
        <allow roles="Admin, InstallationsManager, SalesManager, TechnicalManager" />
        <deny roles="Worker" />
      </authorization>
    </system.web>
  </location>
  <system.web>
    <authentication mode="Forms" />
    <roleManager enabled="true" />
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
</configuration>