<configuration>
	<appSettings/>
	<connectionStrings>
		<add name="ApplicationServices" connectionString="Data Source=Media.ruppin.ac.il;&#xA; Initial Catalog=igroup9_prod; User ID=igroup9;&#xA; Password=igroup9_86098" providerName="System.Data.SqlClient"/>
		<add name="igroup9_prodConnectionString" connectionString="Data Source=Media.ruppin.ac.il;&#xA; Initial Catalog=igroup9_prod; User ID=igroup9;&#xA; Password=igroup9_86098" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<!--<location path="Default.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrator, InstallationsManager, SalesManager, TechnicalManager"/>
        <deny roles="Worker"/>
      </authorization>
    </system.web>
  </location>
  <location path="NewCustomer.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrator, SalesManager, TechnicalManager"/>
        <deny roles="Worker"/>
      </authorization>
    </system.web>
  </location>
  <location path="Customers.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrator, InstallationsManager, SalesManager, TechnicalManager"/>
        <deny roles="Worker"/>
      </authorization>
    </system.web>
  </location>
  <location path="NewProject.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrator, SalesManager, TechnicalManager"/>
        <deny roles="Worker"/>
      </authorization>
    </system.web>
  </location>
  <location path="Projects.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrator, InstallationsManager, SalesManager, TechnicalManager"/>
        <deny roles="Worker"/>
      </authorization>
    </system.web>
  </location>
  <location path="NewServiceCall.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrator, InstallationsManager, SalesManager, TechnicalManager"/>
        <deny roles="Worker"/>
      </authorization>
    </system.web>
  </location>
  <location path="ServiceCalls.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrator, InstallationsManager, SalesManager, TechnicalManager"/>
        <deny roles="Worker"/>
      </authorization>
    </system.web>
  </location>
  <location path="UserManagement.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrator, InstallationsManager, SalesManager, TechnicalManager"/>
        <deny roles="Worker"/>
      </authorization>
    </system.web>
  </location>-->
	<system.web>
		<sessionState timeout="90"></sessionState>
		<authentication mode="Forms">
			<forms loginUrl="Default.aspx" protection="All" timeout="90">
			</forms>
		</authentication>
		<roleManager enabled="true"></roleManager>
		<!--<roleManager enabled="true" defaultProvider="AspNetWindowsTokenRoleProvider">
      <providers>
        <clear/>
        <add name="AspNetSqlRoleManagerProvider" connectionStringName="ApplicationServices" applicationName="/" type="System.Web.Security.SqlRoleProvider" />
      </providers>
    </roleManager>-->
		<customErrors mode="Off">
		</customErrors>
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/></assemblies>
		</compilation>
		<membership>
			<providers>
				<clear/>
				<add name="AspNetSqlMembershipProvider" connectionStringName="ApplicationServices" applicationName="/" type="System.Web.Security.SqlMembershipProvider" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="true" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10"/>
			</providers>
		</membership>
		<profile>
			<providers>
				<clear/>
				<add name="AspNetSqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/" type="System.Web.Profile.SqlProfileProvider"/>
				<add name="AspNetSqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" type="System.Web.Security.SqlRoleProvider"/>
				<add name="AspNetWindowsTokenRoleProvider" connectionStringName="ApplicationServices" applicationName="/" type="System.Web.Security.WindowsTokenRoleProvider"/>
			</providers>
		</profile>
		<webServices>
			<protocols>
				<add name="HttpPost"/>
				<add name="HttpGet"/>
			</protocols>
		</webServices>
	</system.web>
	<!--<system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>-->
</configuration>
