


<configuration>
    <appSettings/>
    <connectionStrings>
        <add name="igroup9_test1ConnectionString"
          connectionString="Data Source=Media.ruppin.ac.il;
      Initial Catalog=igroup9_test1;User ID=igroup9;
      Password=igroup9_86098" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <system.web>
        <compilation debug="true" targetFramework="4.0"/>
    </system.web>
</configuration>
