create PROCEDURE spCreateHatches
(
@NumOfHatches int,
@ProjectID int
)
as 
declare @counter int 
set @counter = 0 
while @counter < @NumOfHatches
begin
insert into Hatch ( [hsID] , [htID] , [pID] , [IsActive])
values ( 1, 1, @ProjectID, 'true')
set @counter = @counter + 1
end
GO

CREATE PROCEDURE spCreateNewOrder
(
@DateOpened date,
@EstimateDateOfArrival date = NULL,
@Quantity int, 
@osID int,
@pID int,
@SupplierID int, 
@rmID int
)
as
begin
insert into Orders ( DateOpened, EstimatedDateOfArrival, Quantity, osID, pID, SupplierID, rmID)
values(@DateOpened,@EstimateDateOfArrival,@Quantity,@osID,@pID,@SupplierID,@rmID)
end
GO

CREATE PROCEDURE spGetCustomerInformation
(
@ProjectID int
)
as
begin
select Customer.cID , Customer.fName, Customer.lName , Customer.Phone , Customer.Mobile , Customer.Fax , Customer.cAddress , Customer.Email , Project.ArchitectName , Project.ArchitectPhone , Project.ContractorName , Project.ContractorPhone, Project.SupervisorName , Project.SupervisorPhone, Customer.RegionID
from Project 
inner join Customer on Project.cID=Customer.cID
where @ProjectID= Project.pID
end
GO

CREATE PROCEDURE spGetOrdersListForProject
(
@ProjectID int
)
as 
begin
select Orders.oID, Orders.DateOpened, RawMaterials.rName , Orders.EstimatedDateOfArrival , Orders.Quantity , Supplier.sName , OrderStatus.osName
from Orders
inner join RawMaterials on Orders.rmID=RawMaterials.rmID
inner join Supplier on Orders.SupplierID=Supplier.SupplierID
inner join OrderStatus on OrderStatus.osID=Orders.osID
where Orders.pID=@ProjectID
end
GO

create PROCEDURE spGetOrderStatus
as
begin
select * from OrderStatus
end
GO

create PROCEDURE spGetProjectStatus
(
@ProjectID int
)
as
begin
select ps.psName
from Project p, ProjStatus ps
where p.pID=@ProjectID and ps.psID = p.psID
end
GO

create PROCEDURE spGetProjectStatusList
as
begin
select ProjStatus.psID, ProjStatus.psName
from ProjStatus
end
GO

create PROCEDURE spGetProjectStatusNumber
(
@StatusName varchar(30)
)
as
begin
select ProjStatus.psID
from ProjStatus
where ProjStatus.psName=@StatusName
end
GO

CREATE PROCEDURE spGetRawMaterialID
(
@RawMaterialName varchar(30)
)
as
begin
select rmID
from RawMaterials
where rName=@RawMaterialName
end
GO

create PROCEDURE spGetRegion
as
begin
select r.RegionID,r.RegionName
from Region r
end
GO

CREATE PROCEDURE spGetSupplierID
(
@SupplierName varchar(30)
)
as
begin
select Supplier.SupplierID
from Supplier
where Supplier.sName=@SupplierName
end
GO

create PROCEDURE spGetSuppliers
(
@RawMaterialID int
)
as
begin
select distinct s.SupplierID,s.sName
from Supplier s, RawMaterials rm, SupplierRawMaterials srm
where rm.rmID=@RawMaterialID and rm.rmID=srm.rmID and srm.SupplierID=s.SupplierID
end
GO

create PROCEDURE spInsertNewCustomer
(
@cID int,
@fName varchar(30),
@lName varchar(30),
@Address varchar(30),
@Phone varchar(10),
@Mobile varchar(10),
@Fax varchar(10),
@Email varchar(30),
@Region	int
)
as
begin
insert into Customer([cID], [fName],[lName], [cAddress], [Phone], [Mobile], [Fax], [Email], [RegionID])
values( @cID, @fName, @lName, @Address, @Phone, @Mobile, @Fax, @Email, @Region)
end
GO

create PROCEDURE spInsertNewProject
(
@cID int,
@psID int,
@pName varchar(30),
@DateOpened date,
@ExpirationDate date,
@InstallationDate date = NULL,
@Cost float,
@Comments varchar(255), 
@ContName varchar(30),
@ContPhone varchar(10),
@ArchName  varchar(30), 
@ArchPhone varchar(10),
@SuperName varchar(30),
@SuperPhone varchar(10)
)
as
begin
insert into Project (pName,Comments,DateOpened,ExpirationDate,InstallationDate,Cost,ContractorName,ContractorPhone,ArchitectName,ArchitectPhone,SupervisorName,SupervisorPhone,cID,psID)
output inserted.pID
values (@pName,@Comments,@DateOpened,@ExpirationDate,@InstallationDate,@Cost,@ContName,@ContPhone,@ArchName,@ArchPhone,@SuperName,@SuperPhone,@cID,@psID)
end
GO

create PROCEDURE spShowAllProjects
as 
begin
select p.pID, p.pName, p.DateOpened, ps.psName, p.Comments, p.Cost ,COUNT(h.hID) AS 'NumOfHatches'
from Project p, ProjStatus ps, Hatch h
where  p.psID=ps.psID and h.pID = p.pID and ps.psID between 2 and 8
group by p.pID, p.pName, p.DateOpened, ps.psName, p.Comments,p.Cost
end
GO

create PROCEDURE spShowProjectsPerCustomer
(
@CustomerID int
)
as
begin
select  Project.pID, Project.pName, Project.DateOpened,ProjStatus.psName, Project.Comments, Project.Cost, COUNT (*) AS 'NumOfHatches' 
from Project
inner join Hatch on Project.pID=Hatch.pID
inner join Customer on Project.cID=Customer.cID
inner join ProjStatus on Project.psID=ProjStatus.psID
where Customer.cID=@CustomerID
group by Project.pID, Project.pName, Project.DateOpened, ProjStatus.psName, Project.Comments, Project.Cost
end
GO

CREATE PROCEDURE spUpdateCustomerInformation
(
@cID int,
@FirstName varchar(30),
@LastName varchar(30),
@Phone varchar(10),
@Mobile varchar(10),
@Fax varchar(10), 
@Address varchar(30),
@Email varchar(30),
@RegionID int
)
as 
begin
update Customer
set Customer.fName=@FirstName, Customer.lName=@LastName, Customer.Phone=@Phone, 
Customer.Mobile=@Mobile, Customer.Fax=@Fax, Customer.cAddress=@Address, 
Customer.Email=@Email, Customer.RegionID=@RegionID
where @cID=Customer.cID
end
GO

CREATE PROCEDURE spUpdateOrderStatus
(
@ProjectID int , 
@OrderStatusID int
)
as
begin
update Orders set osID=@OrderStatusID
where oID=@ProjectID
end
GO

create PROCEDURE spUpdateProjectDetails
(
@ProjectID int,
@ProjectStatusID int,
@pName varchar(30),
@ExpirationDate date,
@InstallationDate date,
@Cost float,
@Comments varchar(50),
@ContractorName varchar(30),
@ContractorPhone varchar(10),
@ArchitectName varchar(30),
@ArchitectPhone varchar(10),
@SupervisorName varchar(30),
@SupervisorPhone varchar(10)
)
as 
begin
update Project
set Cost=@Cost ,Comments=@Comments, ContractorName = @ContractorName, ContractorPhone = @ContractorPhone,
	ArchitectName = @ArchitectName, ArchitectPhone = @ArchitectPhone, SupervisorName = @SupervisorName,
	SupervisorPhone = @SupervisorPhone, pName = @pName,	ExpirationDate = @ExpirationDate,
	InstallationDate = @InstallationDate, psID = @ProjectStatusID
where pID=@ProjectID
end
GO

CREATE PROCEDURE spGetProjectDetails
as 
begin
SELECT *
FROM Project
INNER JOIN Customer ON Project.cID=Customer.cID
INNER JOIN ProjStatus ON Project.psID=ProjStatus.psID
WHERE ProjStatus.psID BETWEEN 2 AND 8
end
GO

CREATE PROCEDURE spGetServiceCalls 
as
begin
select *
from ServiceCall s
inner join Customer c on s.cID = c.cID
left join Project p on s.pID = p.pID
end
GO

CREATE PROCEDURE spGetPicsAndPins
(
@HatchID int
)
as
begin
select h.hID, pic.picID, pic.picDesc, pic.DateTaken, pic.ImageURL, pin.pinID, pin.CoordinateX, pin.CoordinateY, pin.PinComment, pin.AudioURL, pin.VideoURL
from Picture pic
inner join Hatch h on h.hID = pic.hID
left join Pin pin on pic.picID = pin.picID
where h.hID = @HatchID;
end
Go

--CREATE PROCEDURE spGetOpenedServiceCalls
--as begin
--select sc.scID ,c.fName,c.lName,sc.DateOpened, sc.DateClosed, sc.ProblemDesc , sc.Urgent  
--from ServiceCall sc
--inner join Customer c on c.cID=sc.cID
--WHERE DateClosed IS NULL
--end
--GO

CREATE PROCEDURE spGetOpenedServiceCalls
as
begin
SELECT *
FROM ServiceCall s
inner join Customer c on s.cID = c.cID
left join Project p on s.pID = p.pID
WHERE s.DateClosed IS NULL
end
GO

create PROCEDURE spInsertExternalServiceCall
(
@DateOpened date,
@ProblemDesc varchar(200),
@Urgent bit,
@cID int
)
as
begin
insert into ServiceCall (DateOpened, ProblemDesc, Urgent, cID)
values (@DateOpened, @ProblemDesc, @Urgent, @cID)
end
GO

CREATE PROCEDURE spGetProjectsNames
as begin
select Project.pID, Project.pName
from Project
end
GO

create PROCEDURE spInsertServiceCallExistingProject
(
@DateOpened date,
@ProblemDesc varchar(200),
@Urgent bit,
@cID int,
@pID int
)
as
begin
insert into ServiceCall (DateOpened, ProblemDesc, Urgent, cID, pID)
values (@DateOpened, @ProblemDesc, @Urgent, @cID, @pID)
end
GO

CREATE PROCEDURE spGetOrdersListForSupplier
(
@SupplierID int
)
as
begin
select Orders.oID, Orders.DateOpened, RawMaterials.rName ,Orders.EstimatedDateOfArrival ,Orders.Quantity, Project.pName , OrderStatus.osName
from Orders
inner join RawMaterials on Orders.rmID=RawMaterials.rmID
inner join Project on Orders.pID=Project.pID
inner join OrderStatus on OrderStatus.osID=Orders.osID
where Orders.SupplierID=@SupplierID and OrderStatus.osID <> 3
end
GO

create PROCEDURE spGetAllSuppliers
as
begin
select * from Supplier
WHERE IsActive = 1
end
GO

CREATE PROCEDURE spGetSuppliersArchive
as
begin
select * from Supplier
WHERE IsActive = 0
end
GO

create PROCEDURE spInsertNewSupplier
(
@sName varchar(30),
@Address varchar(30),
@Phone varchar(10),
@Mobile varchar(10),
@Fax varchar(10),
@Email varchar(30)
)
as
begin
insert into Supplier(sName,sAddress,Phone,Mobile,Fax,Email)
values(@sName, @Address, @Phone, @Mobile, @Fax, @Email)
end
GO

CREATE PROCEDURE spCloseServiceCall
(
@date Datetime,
@ServiceCallID int
)
as
begin
update ServiceCall set DateClosed=@date
where ServiceCall.scID=@ServiceCallID
end
GO

CREATE PROCEDURE spGetServiceCallPopupMissingDetails
(
@ServiceCallID int
)
as
begin
select sc.scID, sc.DateOpened, p.ExpirationDate, sc.ProblemDesc, sc.Urgent, c.fName, c.lName, c.Phone, c.Mobile, c.cAddress, r.RegionName
from Customer c
inner join Project p on c.cID=p.cID
inner join Region r on c.RegionID=r.RegionID
inner join ServiceCall sc on sc.cID=c.cID
where sc.scID=@ServiceCallID
end
GO

CREATE PROCEDURE spGetHatches
as
begin
select h.hID, ht.htName, hs.hsName, h.StatusLastModified, e.eName, ft.ftName, h.Comments, p.HatchesImageURL, p.pID
from Hatch h
inner join Project p on p.pID = h.pID
inner join HatchStatus hs on hs.hsID = h.hsID
inner join HatchType ht on ht.htID = h.htID
inner join Employee e on h.eID = e.eID
left join FailureType ft on ft.ftID = h.ftID
end
GO

CREATE PROCEDURE spGetProjectHatches
(
@ProjectID int
)
as
begin
select h.hID, ht.htName, hs.hsName, h.StatusLastModified, e.eName, ft.ftName, h.Comments, p.HatchesImageURL, h.IsActive
from Hatch h
inner join Project p on p.pID = h.pID
inner join HatchStatus hs on hs.hsID = h.hsID
inner join HatchType ht on ht.htID = h.htID
left join Employee e on h.eID = e.eID
left join FailureType ft on ft.ftID = h.ftID
where p.pID = @ProjectID AND h.IsActive = 1
end
GO

CREATE PROCEDURE spGetHatchesForProdApp
as
begin
SELECT p.pID, p.pName, p.HatchesImageURL, h.hID, ht.htName, hs.hsName, e.eName, h.StatusLastModified, ft.ftName, h.Comments
FROM Project p
inner join Hatch h on p.pID = h.pID
inner join HatchStatus hs on hs.hsID = h.hsID
inner join HatchType ht on ht.htID = h.htID
inner join Employee e on h.eID = e.eID
left join FailureType ft on ft.ftID = h.ftID
WHERE p.psID between 6 and 8
end
GO

CREATE PROCEDURE spGetProjectListForProdApp
as
begin
SELECT p.pID
FROM Project p
inner join ProjStatus ps on ps.psID = p.psID
WHERE ps.psID between 6 and 8
end
GO

CREATE PROCEDURE spGetHatchStatusList
as
begin
select * from HatchStatus
end
GO

CREATE PROCEDURE spGetFailureTypeList
as
begin
select * from FailureType
end
GO

CREATE PROCEDURE spGetUsernameID (@Username varchar(30))
as
begin
SELECT eID
FROM Employee
WHERE eUsername = @Username
end
GO

CREATE PROCEDURE spUpdateHatchDetails
(
@HatchID int,
@HatchStatusID int,
@HatchTypeID int = NULL,
@FailureTypeID int = NULL,
@EmployeeID int,
@StatusLastModified date,
@Comments varchar(200) = NULL
)
as
IF @FailureTypeID IS NULL
begin
UPDATE Hatch
SET hsID = @HatchStatusID, htID = @HatchTypeID, ftID = NULL, eID = @EmployeeID, StatusLastModified = @StatusLastModified, Comments = @Comments
WHERE hID = @HatchID
end
ELSE
begin
UPDATE Hatch
SET hsID = @HatchStatusID, htID = @HatchTypeID, ftID = @FailureTypeID, eID = @EmployeeID, StatusLastModified = @StatusLastModified, Comments = @Comments
WHERE hID = @HatchID
end
GO

CREATE PROCEDURE spGetProjectsArchive
as
begin
SELECT p.pID, p.pName, p.DateOpened, ps.psName, p.Comments, p.Cost ,COUNT(h.hID) AS 'NumOfHatches'
FROM Project p, ProjStatus ps, Hatch h
WHERE  p.psID=ps.psID and h.pID = p.pID and ps.psID = '9'
GROUP BY p.pID,p.pName, p.DateOpened, ps.psName, p.Comments,p.Cost
end
GO

CREATE PROCEDURE spGetServiceCallsArchive
as
begin
select sc.scID ,c.fName,c.lName,sc.DateOpened, sc.DateClosed, sc.ProblemDesc , sc.Urgent  
from ServiceCall sc
inner join Customer c on c.cID=sc.cID
WHERE DateClosed IS NOT NULL
end
GO

CREATE PROCEDURE spUpdateServiceCallDetails
(
@scID int,
@ProblemDesc varchar(200),
@Urgent bit
)
as
begin
UPDATE ServiceCall
SET ProblemDesc = @ProblemDesc, Urgent = @Urgent
WHERE scID = @scID
end
GO

CREATE PROCEDURE spUpdateOrderDetails
(
@OrderID int,
@Quantity float,
@OrderStatus int,
@EstimatedDateOfArrival date,
@DateOfArrival date = NULL
)
as
begin
UPDATE Orders
SET Quantity = @Quantity, osID = @OrderStatus, EstimatedDateOfArrival = @EstimatedDateOfArrival, DateOfArrival = @DateOfArrival
WHERE oID = @OrderID
end
GO

CREATE PROCEDURE spGetSuppliersList
as
begin
select s.SupplierID,s.sName
from Supplier s
end
GO

CREATE PROCEDURE spUpdateSupplierDetails
(
@SupplierID int,
@sName varchar(30),
@Address varchar(30),
@Phone varchar(10),
@Mobile varchar(10),
@Fax varchar(10),
@Email varchar(30)
--@IsActive varchar(30)
)
as
begin
UPDATE Supplier
SET sName = @sName, sAddress = @Address,Phone = @Phone,
	Mobile = @Mobile, Fax = @Fax, Email = @Email
WHERE SupplierID = @SupplierID
end
GO

CREATE PROCEDURE spDisableSupplier
(
@SupplierID int,
@bActivate bit
)
as
begin
UPDATE Supplier
SET IsActive = @bActivate
WHERE SupplierID = @SupplierID
end
GO

CREATE PROCEDURE spGetHatchTypeList
as
begin
SELECT * FROM HatchType
end
GO

CREATE PROCEDURE spUploadPicture
(
@HatchID int,
@PictureDesc varchar(100),
@DateTaken date,
@ImageURL varchar(200)
)
as
begin
INSERT INTO Picture Values (@PictureDesc,@DateTaken,@ImageURL,@HatchID)
end
GO

CREATE PROCEDURE spGetAllProjectDetails
(
@ProjectID int
)
as
begin 
SELECT customer.cID,Customer.fName, Customer.lName , Customer.cAddress ,
 Customer.Phone, Customer.Mobile, Customer.Fax , 
 Customer.Email ,project.pName,  ProjStatus.psID , Project.Cost , Project.ArchitectName,
 Project.ArchitectPhone, Project.ContractorName , Project.ContractorPhone,
 Project.SupervisorName , Project.SupervisorPhone , Project.DateOpened,
 Project.ExpirationDate, Project.InstallationDate , Project.Comments,region.RegionID, COUNT (*) as 'NumOfHatches' 

FROM Project
inner join Customer on Project.cID=Customer.cID
inner join ProjStatus on Project.psID=ProjStatus.psID
inner join Hatch on Hatch.pID=Project.pID
inner join Region on Customer.RegionID=Region.RegionID
WHERE Project.pID=@ProjectID
GROUP BY
customer.cID,Customer.fName, Customer.lName , Customer.cAddress ,
 Customer.Phone, Customer.Mobile, Customer.Fax , 
 Customer.Email ,project.pName,  ProjStatus.psID , Project.Cost , Project.ArchitectName,
 Project.ArchitectPhone, Project.ContractorName , Project.ContractorPhone,
 Project.SupervisorName , Project.SupervisorPhone , Project.DateOpened,
 Project.ExpirationDate, Project.InstallationDate , Project.Comments ,region.RegionID
end
GO

CREATE PROCEDURE spGetUndecidedCustomers
as
begin
SELECT c.cID, p.pID, p.pName, c.Mobile, p.Comments, p.InstallationDate
FROM Project p
inner join Customer c on p.cID = c.cID
WHERE p.psID = 1
end
GO

CREATE PROCEDURE spGetSuppliersRankTable
as
begin
SELECT s.sName, SUM(DATEDIFF(DAY, o.EstimatedDateOfArrival, o.DateOfArrival)) as 'DaysLate'
FROM Supplier s, Orders o
WHERE s.SupplierID = o.SupplierID
GROUP BY sName
ORDER BY DaysLate
end
GO

CREATE PROCEDURE spGetProjectsIncome
as
begin
SELECT pName, Cost
FROM Project
WHERE psID between 2 and 8
end
GO

CREATE PROCEDURE spUpdateUndecidedCustomerDetails
(
@ProjectID int,
@ProjectName varchar(30),
@Comments varchar(255),
@BackToCustomerDate date,
@ProjectStatusID int,
@CustomerID int,
@CustomerMobilePhone varchar(10)
)
as
begin
UPDATE Project
SET pName = @ProjectName, Comments = @Comments, InstallationDate = @BackToCustomerDate, psID = @ProjectStatusID
WHERE pID = @ProjectID

UPDATE Customer
SET Mobile = @CustomerMobilePhone
WHERE cID = @CustomerID
end
GO

CREATE PROCEDURE spInsertNewNotification
(
@Notification varchar(255),
@nDate date,
@EmployeeID1 int,
@EmployeeID2 int = NULL
)
as
begin
INSERT INTO Notifications
Values (@Notification, @nDate, @EmployeeID1, @EmployeeID2)
end
GO

CREATE PROCEDURE spInsertNewSpecialNotification
(
@Notification varchar(255) = NULL,
@Date date,
@Type varchar(50),
@EmailSubject varchar(100) = NULL,
@EmailMessage varchar(500) = NULL,
@EmailAddress varchar(50) = NULL,
@EmployeeID1 int,
@EmployeeID2 int = NULL
)
as
begin
INSERT INTO SpecialNotifications
Values (@Notification, @Date, @Type, @EmailSubject, @EmailMessage, @EmailAddress, @EmployeeID1, @EmployeeID2)
end
GO

CREATE PROCEDURE spGetNotifications
(
@EmployeeID int
)
as
begin
SELECT [Notification], nDate
FROM Notifications
WHERE eID1 = @EmployeeID or eID2 = @EmployeeID
end
GO

CREATE PROCEDURE spGetSpecialNotifications
(
@EmployeeID int
)
as
begin
SELECT *
FROM SpecialNotifications
WHERE eID1 = @EmployeeID or eID2 = @EmployeeID
end
GO

CREATE PROCEDURE spSetStatusProduction
(
@ProjectID int
)
as
begin
UPDATE Hatch
SET hsID = 1
WHERE pID = @ProjectID
end
GO

CREATE PROCEDURE spDisableHatch
(
@HatchID int
)
as
begin
UPDATE Hatch
SET IsActive = 0
WHERE hID = @HatchID
end
GO

CREATE PROCEDURE spSetExpirationDate
(
@ProjectID int,
@ExpirationDate date
)
as
begin
UPDATE Project
SET ExpirationDate = @ExpirationDate
WHERE pID = @ProjectID
end
GO

CREATE PROCEDURE spDeleteSpecialNotification
(
@NotificationID int
)
as
begin
DELETE FROM SpecialNotifications
WHERE nID = @NotificationID
end
GO

CREATE PROCEDURE spInsertNewPin
(
@pinID int,
@CoordinateX float,
@CoordinateY float,
@Comment varchar(100) = NULL,
@AudioURL varchar(200) = NULL,
@VideoURL varchar(200) = NULL,
@PictureID int
)
as
IF EXISTS(SELECT * FROM Pin WHERE pinID = @pinID)
begin
UPDATE Pin
SET PinComment = @Comment, AudioURL = @AudioURL, VideoURL = @VideoURL
WHERE pinID = @pinID
end
ELSE
begin
INSERT INTO Pin
VALUES(@CoordinateX,@CoordinateY,@Comment,@AudioURL,@VideoURL,@PictureID)
end
GO

CREATE PROCEDURE spGetTableCurrentIdentity
(
@TableName varchar(30)
)
as
begin
SELECT IDENT_CURRENT(@TableName)
end
GO

CREATE PROCEDURE spGetPins
(
@PictureID int
)
as
begin
SELECT *
FROM Pin
WHERE picID = @PictureID
end
GO

CREATE PROCEDURE spDeletePin
(
@pinID int
)
as
begin
DELETE FROM Pin
WHERE pinID = @pinID
end
GO

CREATE PROCEDURE spInsertNewFile
(
@Description varchar(100),
@URL varchar(255),
@pID int
)
as
begin
INSERT INTO Files
VALUES (@Description, @URL,@pID)
end
GO

CREATE PROCEDURE spGetProjectFiles
(
@ProjectID int
)
as
begin
SELECT * 
FROM Files
WHERE pID = @ProjectID
end
GO

CREATE PROCEDURE spDeleteFile
(
@FileID int
)
as
begin
DELETE FROM Files
WHERE fID = @FileID
end
GO

CREATE PROCEDURE spGetHatchesImageURL
(
@ProjectID int
)
as
begin
Select HatchesImageURL
from Project
WHERE pID = @ProjectID
end
GO

CREATE PROCEDURE spDeleteHatchesImage
(
@ProjectID int
)
as
begin
UPDATE Project
SET HatchesImageURL = NULL
WHERE pID = @ProjectID
end
GO

CREATE PROCEDURE spUploadHatchesImage
(
@ProjectID int,
@HatchesImageURL varchar(200)
)
as
begin
UPDATE Project
SET HatchesImageURL = @HatchesImageURL
WHERE pID = @ProjectID
end
GO